config igmpproxy
	option quickleave 1
#	option verbose [0-3](none, minimal[default], more, maximum)

config phyint
	option network iptv
	option zone iptv
	option direction upstream
	list altnet 192.168.6.0/24
        list altnet 10.0.0.0/8

config phyint
	option network lan
	option zone lan
	option direction downstream
